<div class="kanban">
<!--    @for(stage of stages$ | async; track stage) {-->
<!--        <div class="kanban__stage">-->
<!--            <h2>{{stage.title}}</h2>-->
<!--            <div-->
<!--                cdkDropList-->
<!--                [id]="stage.id"-->
<!--                [cdkDropListData]="stage.issues"-->
<!--                [cdkDropListConnectedTo]="[openList, reviewList, doneList]"-->
<!--                class="kanban__stage-list"-->
<!--                (cdkDropListDropped)="drop($event)">-->
<!--                @for (item of stage.issues; track item) {-->
<!--                    <app-kanban-task [task]="item" cdkDrag>-->
<!--                        {{item}}-->
<!--                    </app-kanban-task>-->
<!--                }-->
<!--            </div>-->
<!--        </div>-->
<!--    }-->

  <div class="kanban__stage">
    <h2>Открытаg</h2>
    <div
      cdkDropList
      #openList="cdkDropList"
      [cdkDropListData]="open"
      [cdkDropListConnectedTo]="[proccessList, reviewList, doneList]"
      class="kanban__stage-list"
      (cdkDropListDropped)="drop($event)">
      @for (item of open; track item) {
          <app-kanban-task [task]="item" cdkDrag></app-kanban-task>
      }
    </div>
  </div>

  <div class="kanban__stage">
    <h2>В разработке</h2>
    <div
      cdkDropList
      #proccessList="cdkDropList"
      [cdkDropListData]="process"
      [cdkDropListConnectedTo]="[openList, doneList, reviewList]"
      class="kanban__stage-list"
      (cdkDropListDropped)="drop($event)">
      @for (item of process; track item) {
          <app-kanban-task [task]="item" cdkDrag>
              {{item}}
          </app-kanban-task>
      }
    </div>
  </div>

  <div class="kanban__stage">
    <h2>Подлежит проверке</h2>
    <div
      cdkDropList
      #reviewList="cdkDropList"
      [cdkDropListData]="review"
      [cdkDropListConnectedTo]="[openList, proccessList, doneList]"
      class="kanban__stage-list"
      (cdkDropListDropped)="drop($event)">
      @for (item of review; track item) {
          <app-kanban-task [task]="item" cdkDrag>
              {{item}}
          </app-kanban-task>
      }
    </div>
  </div>

  <div class="kanban__stage">
    <h2>Готово</h2>
    <div
      cdkDropList
      #doneList="cdkDropList"
      [cdkDropListData]="done"
      [cdkDropListConnectedTo]="[openList, proccessList, reviewList]"
      class="kanban__stage-list"
      (cdkDropListDropped)="drop($event)">
      @for (item of done; track item) {
          <app-kanban-task [task]="item"  cdkDrag>
              {{item}}
          </app-kanban-task>
      }
    </div>
  </div>
</div>

