.kanban {
  display: flex;
  justify-content: space-between;
}

.kanban__stage {
    width: 20%;
}

.kanban__stage-list {
    height: 100%;
    display: flex;
    flex-direction: column;
    gap: 15px;
    background-color: aliceblue;
    padding: 20px;
}
