<mat-card class="example-card">
    <mat-card-header>
        <img [src]="contact.photo" class="contact-photo" alt="Photo"/>
        <mat-card-title>{{contact.name}}</mat-card-title>
        <mat-card-subtitle>{{contact.phone}}</mat-card-subtitle>
    </mat-card-header>
    <mat-card-content>
        <p>
            <span style="font-weight: 500">Email:</span> {{contact.email}}
        </p>
        <p>
            <span style="font-weight: 500">Дата создания:</span> {{contact.createdAt | date:'dd.MM.yyyy' }}
        </p>
    </mat-card-content>
    <mat-card-actions>
        <button mat-stroked-button color="warn" (click)="removeContact(contact.id)">Удалить</button>
        <button mat-raised-button color="primary">Изменить</button>
    </mat-card-actions>
</mat-card>
